.c-google__results-item-text, .c-google__description {
  margin: 0 0 1rem;
  font: normal 1rem/1.5 mandrel-normal, serif;
}

.c-google__query-button--initial, .c-google__query-button {
  width: 6rem;
  height: 1.5rem;
  border: 1px solid;
  margin-left: 1rem;
  color: #FFF;
  font: normal 1.25rem/1 mr-eaves-modern, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.c-google__query-button--initial[disabled], .c-google__query-button[disabled] {
  border-color: #999;
  background-color: #CCC;
  color: #333;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.c-google__title {
  margin: 2rem 0 1rem;
  font: bold 3rem/1 mr-eaves-modern, sans-serif;
}
.c-google__link, .c-google__link:link, .c-google__link:visited {
  color: #007BFF;
  text-decoration: none;
}
.c-google__link:hover {
  color: #0056B3;
  text-decoration: underline;
}
.c-google__query {
  min-width: 100%;
  padding: 1rem;
  border: 1px solid #ABC;
  margin: 0 0 1rem;
  transition: all 0.5s;
}
.c-google__query--initial {
  min-width: 60%;
  padding: 0;
  border: 1px solid #EEE;
  margin: 2rem 0;
  transition: all 0.5s;
}
.c-google__query-anchor, .c-google__query-anchor--initial {
  display: flex;
  justify-content: center;
}
.c-google__query-label, .c-google__query-label--initial {
  display: block;
  margin-bottom: 0.5rem;
  font: normal 1.25rem/1 mr-eaves-modern, sans-serif;
}
.c-google__query-input, .c-google__query-input--initial {
  width: calc(100% - 7rem - 4px);
  height: 1.5rem;
  font-size: 1rem;
}
.c-google__query-button {
  border-color: #036;
  background-color: #369;
  transition: border-color, background-color 0.5s;
}
.c-google__query-button.transitted {
  transition: none;
}
.c-google__query-button--initial {
  border-color: #603;
  background-color: #967;
}
.c-google__results-title {
  margin: 0 0 1rem;
  font: bold 2rem/1.5 mr-eaves-modern, sans-serif;
}
.c-google__results-list--waiting {
  position: relative;
  min-height: calc(4em + 50px);
}
.c-google__results-list--waiting:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 0;
  height: 0;
  border: 25px solid;
  border-color: #8BF #CDE;
  border-radius: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.c-google__results-list-title {
  margin: 0 0 0.5rem;
  font: bold 1.5rem/1.5 mr-eaves-modern, sans-serif;
}
.c-google__results-item-title {
  margin: 0;
  font: normal 1.5rem/1 mr-eaves-modern, sans-serif;
}
.c-google__results-item-title b {
  font-weight: bold;
}
.c-google__results-item-title a, .c-google__results-item-title a:link, .c-google__results-item-title a:visited {
  color: #007BFF;
  text-decoration: none;
}
.c-google__results-item-title a:hover {
  color: #0056B3;
  text-decoration: underline;
}
.c-google__results-item-text br {
  display: none;
}
.c-google__results-item-text b {
  font-weight: bold;
}
.c-google__results-item-image {
  display: block;
  width: 100%;
  border: 1px solid #CCC;
  margin: 0.5rem 0 1rem;
}
.c-google__results-error {
  margin: 0 0 1rem;
  font: bold 1.5rem/1.5 mr-eaves-modern, sans-serif;
  color: #903;
}

@media (min-width: 64em) {
  .c-google__results {
    display: flex;
    flex-flow: row wrap;
    margin-left: -1rem;
  }
  .c-google__results-title {
    width: 100%;
    margin-left: 1rem;
  }
  .c-google__results-column {
    width: 50%;
    padding-left: 1rem;
  }
  .c-google__results-list, .c-google__results-list--waiting {
    padding: 1rem;
    border: 1px solid #CCC;
    border-radius: 1rem;
    background-color: #F6F6F6;
  }
}

/*# sourceMappingURL=Google.css.map */
