.copyright {
	text-align: center;
	font: normal 1em $font-stack-sans-serif;
}


@mixin footer--tablet() {
	.nav-tail {
		height: 30px;
		border-radius: 0 0 30px;
		margin-bottom: 2rem;
		background-color: $color-frame;
	}
}

@mixin footer--desktop() {
	// No changes are required 
}